[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-beam = {extras = ["gcp"], version = "*"}
google-cloud-bigquery = "*"
wheel = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.8"
